{% extends "RMAdminBundle::layout.html.twig" %}

{% block content %}
    <div id="page-loader">
        <img style="position:absolute; width:128px; height:15px; left:50%; top:50%; margin-left:-64px; margin-top: -7px;" src="{{ asset('bundles/rmadmin/images/loading.gif') }}" />
    </div>
{% endblock %}
